.carousel {
  position: relative;
  margin-left: 12%;
  margin-right: 12%;

  .img {
    height: 415px;
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 25px;
    margin-bottom: 30px;
  }

  .button-next {
    width: 46px;
    height: 79px;
    position: absolute;
    top: 40%;
    right: 20px;
    cursor: pointer;
  }
  .button-previous {
    width: 46px;
    height: 79px;
    position: absolute;
    top: 40%;
    cursor: pointer;
    left: 20px;
  }
}

@media screen and (max-width: 700px) {
  .carousel {
    margin-left: 5%;
    margin-right: 5%;
    .img {
      height: 255px;
      margin-top: 20px;
      border-radius: 10px;
      margin-bottom: 30px;
      width: 100%;
    }
    .button-next {
      top: 50%;
      width: 11px;
      height: 19px;
    }
    .button-previous {
      top: 50%;
      width: 11px;
      height: 19px;
    }
  }
}
