.profile {
  display: flex;
  width: 100px;
  margin-right: 35px;

  p {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    text-align: end;
    margin-right: 10px;
  }
}
.picture-profile {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
