.tags {
  display: flex;
  margin-top: 20px;

  li {
    display: flex;
    align-items: center;
    margin-right: 10px;
    background: #ff6060;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 40px;
    padding-right: 40px;

    height: 25px;
    text-align: center;
    color: white;
  }
}
