.error {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 700;
    font-size: 288px;
    line-height: 142.6%;
  }
  p {
    margin-bottom: 182px;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
  }
  a {
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
  }
}

@media screen and (max-width: 700px) {
  .error {
    height: 100vh;
    justify-content: center;

    h1 {
      font-size: 96px;
    }
    p {
      font-size: 18px;
      text-align: center;
      margin-left: 10%;
      margin-right: 10%;
    }
    a {
      font-size: 14px;
    }
  }
}
