.housing {
  .description {
    margin-left: 12%;
    margin-right: 12%;
  }

  .dropDownMenus {
    display: flex;
    justify-content: space-between;
    gap: 76px;
  }
  .title-host {
    display: flex;
    justify-content: space-between;
  }
  .tags-rating {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
  }
  h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
  }
}

@media screen and (max-width: 700px) {
  .housing {
    h1 {
      font-size: 18px;
    }
    .description {
      display: flex;
      flex-direction: column;
      margin-left: 5%;
      margin-right: 5%;
    }
    .title-host {
      flex-wrap: wrap;
    }
    .tags-rating {
      width: 100%;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-top: 16px;
    }

    .dropDownMenus {
      justify-content: space-between;
      flex-direction: column;
      gap: 0;
    }
  }
}
